@import "common";

.ho-module-m-007-maps-v1 {
  &__map-init-info-set {
    z-index: 999;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 10px;
    position: absolute;
    bottom: 1.5rem;
    left: .5rem;
    pointer-events: none;
  }
  &__map-buttons {
    background-color: var(--color-black);
  }
  &__placeholder,
  &__map-init {
    &::before {
      content: '\E838';
      font-size: 18px;
      line-height: 1;
      font-family: fontello, serif;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      color: var(--color-red);
      width: 20px;
      height: 20px;
      z-index: 998;
      pointer-events: none;
      text-shadow: 0 0 1px var(--color-white);
    }
    &--lock {
      pointer-events: none;

      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: 999;
        background: var(--color-black-opacity-20);
      }
    }
  }
}