// Common styles for front and backend
.wp-block-semdesign-d-002-slider-carousel-dynamic-v1-wrap {
  overflow: hidden;
  position: relative;
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-brown-opacity-80);
  border-bottom: 1px solid var(--color-brown-opacity-80);
  padding-top: 3rem;
  padding-bottom: 3rem;

  .swiper-button-next,
  .swiper-button-prev {
    //display: none;
    color: var(--color-brown-dark);
    background-color: transparent;
    //border: none;
    //
    //@media (min-width: 1440px) {
    //  display: flex;
    //}
  }

  //.swiper-button-prev  {
  //  left: calc(50% - 660px - 40px); /* 50% - połowa szerokości containera - odstęp od lewej */
  //}
  //
  //.swiper-button-next {
  //  right: calc(50% - 660px - 40px); /* 50% - połowa szerokości containera - odstęp od prawej */
  //}

  .swiper-pagination-bullet-active {
    background-color: var(--color-brown-dark) !important;
    //opacity: 1;
  }

  .swiper-pagination-bullet {
    //width: 1rem;
    //height: 1rem;
    background-color: var(--color-brown-dark);
  }
}
.wp-block-semdesign-d-002-slider-carousel-dynamic-v1 {
  overflow: hidden;
  position: relative;

  .swiper-slide {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: calc(250px + 10vw);
    height: auto;
    display: flex;
    border: 1px solid var(--color-brown-dark);
    opacity: .4;
    transition: opacity 250ms ease-in-out;

    &.swiper-slide-active {
      opacity: 1;
    }

    @media (min-width: 1200px) {
      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: linear-gradient(to bottom, var(--color-brown-opacity-80) 0%, transparent 100%);
    }

    &__container {
      position: relative;
      z-index: 3;
      padding: 1rem;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      height: 100%;

      > div {
        max-width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;

        > *:not(a:hover):not(a:focus) {
          color: var(--color-white);
          text-shadow: 0 0 1px var(--color-black);
        }

        p {
          font-size: 1.2rem;
        }

        a {
          margin-top: auto;
        }
      }
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}