.min-vh-90 {
  min-height: 90vh !important;
}
.min-vh-80 {
  min-height: 80vh !important;
}
.min-vh-70 {
  min-height: 70vh !important;
}
.min-vh-60 {
  min-height: 60vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-40 {
  min-height: 40vh !important;
}
.min-vh-30 {
  min-height: 30vh !important;
}
.min-vh-20 {
  min-height: 20vh !important;
}
.min-vh-10 {
  min-height: 10vh !important;
}
.container {
  &--960 {
    max-width: 960px !important;
  }
}

.ho-bg-primary {
  background-color: var(--color-primary);
}
.ho-bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.ho-bg-secondary {
  background-color: var(--color-secondary);
}
.ho-bg-secondary-lighter {
  background-color: var(--color-secondary-lighter);
}
.ho-bg-red {
  background-color: var(--color-red);
}

h1, h2, h3, h4, h5, h6, p, ul {
  &:last-child {
    margin-bottom: 0;
  }
}

.wp-block-separator {
  border-top: 1px solid;
}

.object-fit-cover {
  object-fit: cover;
}



.object-position-center {
  object-position: center;
}

.object-position-right-bottom {
  object-position: right bottom;
}

.object-position-right-top {
  object-position: right top;
}

.object-position-left-bottom {
  object-position: left bottom;
}

.object-position-left-top {
  object-position: left top;
}

.object-position-bottom {
  object-position: bottom;
}

.object-position-top {
  object-position: top;
}

.object-position-right {
  object-position: right;
}

.object-position-left {
  object-position: left;
}

.grid-template-columns-repeat-3-1fr {
  grid-template-columns: repeat(3, 1fr);
}

.ho-icon-position {
  justify-content: center;

  .dashicons {
    display: inline-block;
  }
  &--left-top {
    .dashicons {
      rotate: -45deg;
    }
  }
  &--right-top {
    .dashicons {
      rotate: 45deg;
    }
  }
  &--left-bottom {
    .dashicons {
      rotate: 45deg;
    }
  }
  &--right-bottom {
    .dashicons {
      rotate: -45deg;
    }
  }
}

.ho-hidden-first-letter {
  margin-left: -18px;

  &::first-letter {
    opacity: 0;
  }
}

.ho-first-amber-letter {
  &::first-letter {
    color: var(--color-amber);
  }
  h1, h2, h3, h4, h5, h6 {
   &::first-letter {
     color: var(--color-amber);
   }
  }
}

main {
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 600ms ease-in-out forwards;
}