:root {
  font-size: clamp(15px, 2vw, 18px);

  --color-primary: #e3e8e3;
  --color-secondary: #001c04; // #181818;
  --color-secondary-lighter: #013f09; // #012d07; // #3f3e3e;
  --color-amber: #ff610b;

  --color-black: #000;
  --color-white: #fff;
  --color-red: red;
  --color-green: green;

  --color-gray-v1: #cfc8d8;
  --color-brown-dark: #231f20;

  --color-brown-v2-opacity-40: rgba(252, 252, 196,.4);

  --color-brown-opacity-20: rgba(35,31,32,.2);
  --color-brown-opacity-30: rgba(35,31,32,.3);
  --color-brown-opacity-40: rgba(35,31,32,.4);
  --color-brown-opacity-50: rgba(35,31,32,.5);
  --color-brown-opacity-60: rgba(35,31,32,.6);
  --color-brown-opacity-70: rgba(35,31,32,.7);
  --color-brown-opacity-80: rgba(35,31,32,.8);

  --color-black-opacity-10: rgba(0,0,0,.1);
  --color-black-opacity-20: rgba(0,0,0,.2);
  --color-black-opacity-30: rgba(0,0,0,.3);
  --color-black-opacity-40: rgba(0,0,0,.4);
  --color-black-opacity-50: rgba(0,0,0,.5);
  --color-black-opacity-60: rgba(0,0,0,.6);
  --color-black-opacity-65: rgba(0,0,0,.65);
  --color-black-opacity-70: rgba(0,0,0,.7);
  --color-black-opacity-80: rgba(0,0,0,.8);
  --color-black-opacity-90: rgba(0,0,0,.9);

  --color-white-opacity-10: rgba(255,255,255,.1);
  --color-white-opacity-20: rgba(255,255,255,.2);
  --color-white-opacity-30: rgba(255,255,255,.3);
  --color-white-opacity-40: rgba(255,255,255,.4);
  --color-white-opacity-50: rgba(255,255,255,.5);
  --color-white-opacity-60: rgba(255,255,255,.6);
  --color-white-opacity-70: rgba(255,255,255,.7);
  --color-white-opacity-80: rgba(255,255,255,.8);
  --color-white-opacity-90: rgba(255,255,255,.9);

}