@import "tailwindcss";

@theme {
  /* Important actions */
  --color-primary-50:  #f1f8f4;
  --color-primary-100: #dcefe3;
  --color-primary-300: #b1cbb2;
  --color-primary-500: #4caf50;
  --color-primary-700: #2e7d32;

  /* Less important actions */
  --color-secondary-50:  #f8f3ee;
  --color-secondary-500: #a97458;
  --color-secondary-700: #7b4e33;

  /* Texts and backgrounds */
  --color-neutral-50:  #faf8f6;
  --color-neutral-100: #f2efeb;
  --color-neutral-300: #d6d2cd;
  --color-neutral-700: #4a4744;
  --color-neutral-900: #262422;

  /* alerts */
  --color-success: #2e7d32;
  --color-warning: #d28007;
  --color-error:   #b91c1c;

  --color-bar: var(--color-secondary-700);
  --color-selection: rgba(255,215,0, .6);
  --color-tab: var(--color-primary-700);
  --color-tab-active: var(--color-primary-300);
  --color-light: var(--color-neutral-50);
  --color-dark: var(--color-neutral-900);
}
