@import "tailwindcss";

@theme {
  /* Important actions */
  --color-primary-50: #e5f3e7;
  --color-primary-100: #c0dac4;
  --color-primary-300: #92b798;
  --color-primary-500: #007010;
  --color-primary-700: #001c04;

  /* Less important actions */
  --color-secondary-50:  #f8f3ee;
  --color-secondary-500: #a97458;
  --color-secondary-700: #7b4e33;
  --color-secondary-900: #5b3814;
  --color-secondary-1100: #23220e;

  /* Texts and backgrounds */
  --color-neutral-50:  #faf8f6;
  --color-neutral-100: #f2efeb;
  --color-neutral-300: #d6d2cd;
  --color-neutral-700: #4a4744;
  --color-neutral-900: #262422;

  /* alerts */
  --color-success: #2e7d32;
  --color-warning: #d28007;
  --color-error:   #b91c1c;

  --color-bar: var(--color-secondary-700);
  --color-selection: rgba(255,215,0, .6);
  --color-tab: var(--color-primary-700);
  --color-tab-active: var(--color-primary-300);
  --color-light: var(--color-neutral-50);
  --color-dark: var(--color-neutral-900);

  --color-brown-opacity-20: rgba(35,31,32,.2);
  --color-brown-opacity-30: rgba(35,31,32,.3);
  --color-brown-opacity-40: rgba(35,31,32,.4);
  --color-brown-opacity-50: rgba(35,31,32,.5);
  --color-brown-opacity-60: rgba(35,31,32,.6);
  --color-brown-opacity-70: rgba(35,31,32,.7);
  --color-brown-opacity-80: rgba(35,31,32,.8);

  --color-black-opacity-10: rgba(0,0,0,.1);
  --color-black-opacity-20: rgba(0,0,0,.2);
  --color-black-opacity-30: rgba(0,0,0,.3);
  --color-black-opacity-40: rgba(0,0,0,.4);
  --color-black-opacity-50: rgba(0,0,0,.5);
  --color-black-opacity-60: rgba(0,0,0,.6);
  --color-black-opacity-65: rgba(0,0,0,.65);
  --color-black-opacity-70: rgba(0,0,0,.7);
  --color-black-opacity-80: rgba(0,0,0,.8);
  --color-black-opacity-90: rgba(0,0,0,.9);

  --color-white-opacity-10: rgba(255,255,255,.1);
  --color-white-opacity-20: rgba(255,255,255,.2);
  --color-white-opacity-30: rgba(255,255,255,.3);
  --color-white-opacity-40: rgba(255,255,255,.4);
  --color-white-opacity-50: rgba(255,255,255,.5);
  --color-white-opacity-60: rgba(255,255,255,.6);
  --color-white-opacity-70: rgba(255,255,255,.7);
  --color-white-opacity-80: rgba(255,255,255,.8);
  --color-white-opacity-90: rgba(255,255,255,.9);
}

.swiper {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: var(--color-primary-50);
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  @media (min-width: 1440px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }
  }

  .swiper-button-prev  {
    left: calc(50% - 660px - 40px);
  }

  .swiper-button-next {
    right: calc(50% - 660px - 40px);
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--color-primary-50);
  }

  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: var(--color-primary-50);
  }
}
