// Common styles for front and backend
.wp-block-semdesign-d-001-slider-dynamic-v1 {
  background-color: var(--color-black);
  overflow: hidden;
  position: relative;
  border-top: 1px solid var(--color-brown-opacity-80);
  border-bottom: 1px solid var(--color-brown-opacity-80);

  .swiper-button-next,
  .swiper-button-prev {
    //display: none;
    color: var(--color-white);
    background-color: transparent;
    //border: none;

    //@media (min-width: 1440px) {
    //  display: flex;
    //}
  }

  //.swiper-button-prev  {
  //  left: calc(50% - 660px - 40px); /* 50% - połowa szerokości containera - odstęp od lewej */
  //}
  //
  //.swiper-button-next {
  //  right: calc(50% - 660px - 40px); /* 50% - połowa szerokości containera - odstęp od prawej */
  //}

  .swiper-pagination-bullet-active {
    background-color: var(--color-white) !important;
    //opacity: 1;
  }

  .swiper-pagination-bullet {
    //width: 1rem;
    //height: 1rem;
    background-color: var(--color-white);
  }

  .swiper-slide {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: calc(250px + 10vw);
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: linear-gradient(to right, var(--color-brown-opacity-60), transparent);
    }

    .container {
      position: relative;
      z-index: 3;
      margin-top: auto;
      margin-bottom: auto;

      > div {
        max-width: 600px;
        > *:not(a:hover):not(a:focus) {
          color: var(--color-white);
          text-shadow: 0 0 1px var(--color-black);
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}