@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

// Common styles for front and backend
.ho-module-m-001-slider-v1 {
  background-color: var(--color-black);
  overflow: hidden;
  position: relative;
  border-top: 1px solid var(--color-brown-opacity-80);
  border-bottom: 1px solid var(--color-brown-opacity-80);

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-white);
    background-color: transparent;
    border: none;
    visibility: hidden;
  }

  &.ho-module-m-001-slider-v1--swiper-active {
    .swiper-button-next,
    .swiper-button-prev {
      visibility: visible;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-white) !important;
    //opacity: 1;
  }

  .swiper-pagination-bullet {
    //width: 1rem;
    //height: 1rem;
    background-color: var(--color-white);
  }

  &--large {
    .swiper-slide {
      min-height: calc(400px + 10vw);
    }
  }

  &--medium {
    .swiper-slide {
      min-height: calc(250px + 10vw);
    }
  }

  &--small {
    .swiper-slide {
      min-height: calc(60px + 10vw);
    }
  }

  &--full {
    .swiper-slide {
      min-height: calc(100vh - 100px);
    }
  }

  &--aspect-ratio-3-2 {
    .swiper-slide {
      aspect-ratio: 3 / 2;
    }

    .swiper-initialized {
      position: relative;

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev,
      .swiper-button-next {
        opacity: 0;
        top: 0;
        height: 100%;
        margin: 0;
        width: 50%;
      }
    }
  }

  &--top-overlap {
    &.ho-module-m-001-slider-v1--full {
      .swiper-slide {
        min-height: calc(100vh - 40px);
      }
    }
  }

  .swiper-slide {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    color: var(--color-white);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
    }

    .container {
      position: relative;
      z-index: 3;
      margin-top: auto;
      margin-bottom: auto;

      > div {
        max-width: 600px;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .swiper-slide,
  &__horizonatl-alignment-start.swiper-slide {
    &::before {
      background: linear-gradient(to right, var(--color-black-opacity-90), transparent);
    }
  }
  &__horizontal-alignment-center.swiper-slide {
    &::before {
      background: radial-gradient(circle at center, var(--color-black-opacity-65) 50%, transparent);;
    }
  }
  &__horizontal-alignment-end.swiper-slide {
    &::before {
      background: linear-gradient(to right, transparent, var(--color-black-opacity-90));
    }
  }

  &__vertical-alignment-start.swiper-slide {
    &::before {
      background: linear-gradient(to top, transparent, var(--color-black-opacity-90));
    }
  }
  &__vertical-alignment-end.swiper-slide {
    &::before {
      background: linear-gradient(to bottom, transparent, var(--color-black-opacity-90));
    }
  }

  //@include media-breakpoint-down(sm) {
  //  [class*=ho-module-m-001-slider-v1__horizonatl-alignment],
  //  [class*=ho-module-m-001-slider-v1__vertical-alignment] {
  //    &::before {
  //      //background: var(--color-black-opacity-70);
  //      background: radial-gradient(circle at center, var(--color-black-opacity-65) 50%, transparent);
  //    }
  //  }
  //}

  &__overlay-full {
    &::before {
      background: var(--color-black-opacity-70) !important;
    }
  }

  &__overlay-gradient-hidden {
    &::before {
      display: none !important;
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}
