.ho-module-d-003-tile-links-dynamic-v1 {
  background-color: var(--color-primary);

  a {
    text-decoration: none;
    color: inherit;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: 577.98px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__tile-image-and-title {
    aspect-ratio: 1.5;
    position: relative;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      object-fit: cover;
    }

    &-t {
      position: relative;
      z-index: 2;
      margin-top: auto;
      margin-bottom: auto !important;
      text-align: center;
      max-width: 250px;
      background-color: var(--color-white-opacity-70);
    }
  }
}
