.wp-block-semdesign-lista {
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  li {
    margin-bottom: 15px;

    strong {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }
}