@use "../../../assets/scss/variables" as vars;
@import "../common";

$height-bar-top: vars.$height-bar-top;
$height-bar-bottom: vars.$height-bar-bottom;
$height-bar-bottom-mobile: vars.$height-bar-bottom-mobile;

.ho-module-m-006-slider-v2--top-overlap {
  margin-top: -#{$height-bar-bottom-mobile};
  @include media-breakpoint-up(md) {
    margin-top: -#{$height-bar-bottom};
  }

  &.wp-block-semdesign-m-006-slider-v2 .swiper-slide {
    padding-top: calc(3rem + #{$height-bar-bottom-mobile});
    @include media-breakpoint-up(md) {
      padding-top: calc(3rem + #{$height-bar-bottom});
    }
  }
}