.ho-module-m-002-header-v1 {
  color: var(--color-white);
  height: 3.33rem;
  position: relative;
  z-index: 1;
  background-color: var(--color-secondary);
  border-top: 1px solid var(--color-black-opacity-40);
  border-bottom: 1px solid var(--color-black-opacity-40);
  margin-top: 0;

  //&:not(.position-active):first-child {
  //  border-top: none;
  //}

  &.position-active {
    margin-top: -60px;
    background-color: var(--color-black-opacity-65);
  }

  .container > * {
    margin-bottom: 0;
    margin-top: 0;
  }

  & &__title {
    color: var(--color-white);
    //&::first-letter {
    //  color: var(--color-amber);
    //}
  }
}
